<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="id">
    <head>
        <style>
            body{
                font-family: Arial,sans-serif;
            }
        </style>
    </head>
    <body>
        <h2>Verifikasi Email Anda</h2>
        <p>Terima kasih telah mendaftar di Smashclub.</p>
        <p>Silakan klik link berikut untuk verifikasi email Anda: </p>
        <p>
            <a th:href="@{${activationLink}}" th:text="${activationLink}">
            </a>
        </p>
        <p>Link ini akan kadaluarsa dalam 24 jam.</p>
    </body>
</html>