<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="id">
    <head>
        <style>
            body{
                font-family: Arial,sans-serif;
            }
        </style>
    </head>
    <body>
    <h2>Reset Password</h2>
    <p>Anda telah meminta reset password untuk akun Smashclub Anda.</p>
    <p>Silakan klik link berikut untuk reset password:</p>
    <p><a th:href="@{${resetLink}}" th:text="${resetLink}"></a></p>
    <p>Link ini akan kadaluarsa dalam 1 jam.</p>
    <p>Jika Anda tidak meminta reset password, abaikan email ini.</p>
    </body>
</html>